<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div>
        {{>header}}
    </div>
    
    
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h1>{{title}}</h1> 

        <div class="about-img-text">
            <div class="about-img">
                <p>{{about}}</p>
             <img src="/images/mypic.jpg" alt="">
            </div>
 
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ipsam dolorum velit, perferendis ipsa ullam eius, nihil provident temporibus voluptatum distinctio saepe, est ut minima! Alias accusamus ipsum magni blanditiis quisquam in facere aut! Illo ex voluptatum error tenetur quasi blanditiis magnam in nostrum id vel nihil quae dignissimos quia omnis, vitae ab repellendus. Perspiciatis dolorem nemo incidunt sunt voluptates voluptate, obcaecati deleniti voluptatibus nobis magni esse eum vero praesentium iure repudiandae distinctio, molestias enim quaerat reiciendis, alias maiores vitae cumque velit beatae? Quia quis autem odio tempora veritatis possimus, quae reiciendis cumque fuga, consectetur cupiditate, repellendus doloribus eveniet quas dicta perferendis nostrum porro? Sapiente provident adipisci earum officiis quis corporis praesentium impedit ducimus quasi, magni unde autem suscipit harum tempora cupiditate nesciunt quae exercitationem, excepturi non aut, ex illum architecto beatae. Velit suscipit eum labore! Adipisci explicabo, quos quia exercitationem atque, eveniet minus possimus qui impedit sapiente dolorem sint.</p> 
            </div>       
        </div>


        
    </div>
        </div>
</section>

{{>footer}}

</body>
</html>