<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div>
        {{>header}}
    </div>
    
 
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h1>{{title}}</h1>
            <p>{{helpText}}</p>
        </div>
    </div>
</section>

{{>footer}}

</body>
</html>