<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div>
        {{>header}}
    </div>
    
 
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h1>{{title}}</h1>
            <p>{{helpText}}</p>
            <p class="help-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quia ducimus obcaecati consectetur accusamus nulla id magnam aspernatur laborum, soluta veniam eligendi quisquam vel deleniti, expedita eum dolorum? Ducimus odit libero possimus dolore facere veniam quisquam molestiae animi ea impedit similique sit tempore maxime officiis nulla, sed accusantium eum culpa. Vel suscipit minima earum similique saepe cum aut voluptatibus culpa voluptates aliquam exercitationem odit repellat, a fugit qui esse praesentium reprehenderit quibusdam doloribus. Beatae voluptatum itaque maiores explicabo corrupti dolores eos! Accusamus ex doloremque nihil quaerat perspiciatis. Aperiam consectetur quaerat accusamus eaque distinctio placeat odio consequatur! Dicta non atque totam.</p>
        </div>
    </div>
</section>

{{>footer}}

</body>
</html>