<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div>
    {{>header}}
</div>
 
<section>
    <div class="section-container">
        <div class="section-wrapper">
            <h1>{{title}}</h1>
            <form>
                <input type="text" placeholder="Enter City Name">
                <button>Search</button>
            </form>
            <div>
                <ul class="forecast-list">
                    <li><span id='message-1'></span></li>
                    <li><span id='message-2'></span></li>
                    <li><span id='message-3'></span></li>
                    <li><span id='message-4'></span></li>
                    <li><span id='message-5'></span></li>
                </ul>
            </div>
        </div> 
    </div>


    {{>footer}}
   

</section>



    <script src="/js/main.js"></script>
    
</body>

</html>