<div class="header">
    <div class="container">
    <div class="header-wrapper">
  <div class="logo">
      <a href="/"> <img src="/images/weather.png" alt=""> </a>
  </div>
  
   <ul>
    <li>  <a href="/">Weather</a>    </li>
    <li>  <a href="/about">About</a> </li>
    <li>  <a href="/help">Help</a>   </li>
   </ul>
</div> 
</div>
</div>